---
import SocialLinks from "@/components/SocialLinks.astro";
import Button from "@/components/Button/Button"
---

<footer>
  <div
    class="flex flex-wrap justify-center lg:justify-between items-center gap-3 w-95/100 mx-auto py-3 px-5 text-center bg-primary"
  >
    <div class="flex gap-6">
      <Button variant="link" href="/privacy-policy" className="text-white/70 text-base hover:text-white"
        >Privacy Policy</Button
      >
      <Button variant="link" href="/cookie-policy" className="text-white/70 text-base hover:text-white"
        >Cookie Policy</Button
      >
    </div>
    <p class="text-lg text-white/90">
      &copy; {new Date().getFullYear()} Faria's Demolition and Disposal. All rights
      reserved.
    </p>
    <SocialLinks />
  </div>
</footer>
