---
import { Image } from "astro:assets";
// swap this image for whatever you want to show
import BgImage from "@/assets/heroBg.jpg";
import Heading from "@/components/Heading";
---

<section id="about" class="relative bg-light-primary">
  <div
    class="inner-section section-py flex justify-center items-center flex-col text-center"
  >
    <!-- eyebrow -->
    <Heading
      tagName="span"
      className="h5 font-semibold text-xl text-primary mb-2"
      >Projects
    </Heading>
    <Heading tagName="h2" className="text-dark-primary">
      Showcasing Our Success: Faria's Featured Projects Our Company
    </Heading>
  </div>
</section>
